@charset "utf-8";
/* CSS Document */
.margin{width:1200px;margin:0 auto;}
#top{background: #f3f3f3;height:30px;width:100%;border-bottom:1px solid #e1e1e2;}
#top .login{float: left;width:188px;height:30px;background: #fff;font:12px/30px "宋体";position: relative;}
#top .login .xialakuang{position: absolute;width:42px;height:14px;background:#fff url(../img/1.png) no-repeat center;left:73px;border: 1px solid #e1e1e2;border-top: 0; }
#top .login .wel{color: #999;text-align: center;border-left:1px solid #e1e1e2;border-right:1px solid #e1e1e2;}
#top .login .wel a{color: #4496ee}
#top .login .tanchu{width:218px;height:108px;border: 1px solid #e5e5e5;position: absolute;display: none; }
#top .login .tanchu .user{width:218px;height: 74px;background: #fff;}
#top .login .tanchu .user .tou{float:left;width:48px;height: 48px;border-radius: 5px;background:url(../img/3.png) no-repeat center;margin:14px 0 0 10px;}
#top .login .tanchu .user .huan{float: left;font:12px/48px "宋体";margin:14px 0 0 18px;color:#666;}
#top .login .tanchu .jifen{}
#top .login .tanchu .jifen .ji{float:left;width:108px;height:34px;background: #ffe5c6;font:12px/34px "宋体";text-align: center;border-right: 2px solid #ffd4a0;}
#top .login .tanchu .jifen .shou{float:left;width:108px;height:34px;background: #ffe5c6;font:12px/34px "宋体";text-align: center;}
#top .login:hover .tanchu{display:block;}
#top .sele{float:right;font:12px/30px "宋体";height:30px;}
#top .sele a{position: relative;display: inline-block;}
#top .sele a:hover{color:#4496ee;}
#top .sele a .car{position:relative;top:-2px;}
#top .sele a .personcenter{position:absolute;width:163px;height: 80px;border:1px solid #e5e5e5;border-top:0;top:28px;left:-92px;display: none;background: #fff;}
#top .sele a .personcenter ul{height:60px;width:134px;margin:10px 0 0 18px;}
#top .sele a .personcenter ul li{font:12px/30px "宋体";float: left;}
#top .sele a .personcenter ul li.te1{margin-right:14px ;}
#top .sele a .personcenter ul li.te2{margin-right: 25px;}
#top .sele a.person:hover .personcenter{display: block;}
#top .sele a.guan .follow{position:absolute;width:78px;height:117px;border:1px solid #e5e5e5;top:30px;left:-14px;padding:12px 10px;display: none;background: #fff;z-index: 2;}
#top .sele a.guan .follow p{padding: 0 8px;font:12px/18px "宋体";margin-top: 5px;}
#top .sele a.guan:hover .follow{display: block;}
#top .sele a.ser .service{position: absolute;width:163px;height: 110px;border:1px solid #e5e5e5;border-top: 0;top:30px;left:-94px;display: none;background:#fff;z-index: 2;}
#top .sele a.ser .service ul{height: 100px;padding-top: 10px;}
#top .sele a.ser .service ul li{float: left;margin:0 15px;}
#top .sele a.ser:hover .service{display:block;}
#top .sele span{margin:0 6px;}
header{
	height:134px;
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	background: url(../img/logo1.png) no-repeat left 35px,url(../img/dan.png) no-repeat right;
}
header h3{
	font:24px/58px "宋体";
	margin:35px 0 0 247px ;
	color: #727272;
}
main{
	padding-bottom: 100px;
}
main h2{
	font:18px/36px "宋体";
	color: #e76464;
}
main table tr{
	width:1200px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	height:138px; 
}
main table tr:nth-child(1){
	width:1200px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	height: 42px;
}
main table tr:nth-child(2){
	height: 18px;
}
main table tr td{
	width:150px;
	height: 43px;
	font-size: 12px;
	text-align: center;
}
main table tr td:nth-child(1){
	text-align: left;
}
[type="checkbox"]{
	position: relative;
	top:2px;
	margin-right:2px;
}
main .jiesuan{
	height: 50px;
	margin-top: 20px;
}
main .jiesuan button{
	width:220px;
	height: 50px;
	text-align: center;
	font:14px/50px "宋体";
	background: #4496ee;
	border:0;
	float: right;
	color: #fff;	
}
main .blank {
				height: 448px;
				font: 12px/28px "宋体";
				color: #666;
				display: none;
}
main .blank .kong{
	         float: left;
	         margin:140px 0 0 306px;
}
main .blank p{
	       float: left;
	      width:300px;
	      margin: 140px 0 0  5px;
}
main .blank p a{
	 color: #4496ee;
}
main .zong{
	   	width:1200px;
		border-top:1px solid #dfdfdf;
		border-bottom:1px solid #dfdfdf;
		height:88px; 
}
main .zong li{
	    float: left;
	    margin-right:32px;
	    font:12px/88px "宋体";
	    cursor: pointer;
}
main .zong li:nth-child(4) a{
	    color: #4998eb;
}
main .zong li:nth-child(5){
	 margin-left: 528px;
	 font:22px/88px "宋体";
	 color: #333;
}
main .zong li:nth-child(5) span{
	  color: #ff565f;
}
.people-b{
	height:272px;
	width:1200px;
	margin:30px auto 0;
	background: #fff;
}
.people-b .people-b-l{
	float: left;
	width:780px;
	padding:0 80px 0 40px;
	height:100%;
}
.people-b .people-b-l ul{
	width:780px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.people-b .people-b-l ul li{
	 margin-top: 17px;
}
.people-b .people-b-l ul li p{
	font:14px/36px "宋体";
	color: #666;
	cursor: pointer;
}
.people-b .people-b-l ul li p:hover{
	color: #2295fe;

}
.people-b .people-b-l ul li h3{
	font:700 16px/40px "宋体";
	color: #4c4c4c;
}
.people-b .gongzhong{
	 float: left;
	 margin:17px 0 0 78px;
}
.people-b .gongzhong h3{
	font:700 16px/40px "宋体";
	color: #4c4c4c;
	width:130px;
	text-align: center;
}
.people-b .gongzhong img{
	width:130px;
	height:130px;
}
footer{
	height:156px;
	
	text-align: center;
	color: #666;
	overflow: hidden;
	background:#fff url(../img/cert.png) no-repeat 900px 60px;
}
footer .foot{
	margin-top:15px ;
}
footer .foot a{
	font:12px/52px "宋体";
}
footer  span{
	font:12px/36px "宋体";
}