@charset "utf-8";
/* CSS Document */
header{
	height: 95px;
	width:1200px;
	margin:0 auto;
	background: url(../img/logo1.png) no-repeat left 18px;
}
#banner{
	height:400px;
	width:100%;
	background: url(../img/sign.jpg) no-repeat center;
	position: relative;
}
#banner form{
	position: absolute;
    width:350px;
    height:448px;
    background: #fff;
    border: 1px solid #ccc;
    left:745px;
    top:30px;
    padding: 0 39px;
}
#banner form .form-t{
	height: 92px;
	color: #666;
}
#banner form .form-t h3{
	float: left;
	font:18px/92px "";
}
#banner form .form-t span{
	float: right;
	font:12px/92px "";
}
#banner form .form-t span a{
	color: #4496ee;
}
#banner form .kuang{
	overflow: hidden;
}
#banner form .kuang p{
	width:348px;
	height:38px;
	border:1px solid #d9d9d9;
	margin:15px 0;
	position: relative;

}
#banner form .kuang p:nth-child(3){
	width: 198px;
	height:38px;
}
#banner form .kuang p input{
	float: left;
	width:300px;
	height: 100%;
	padding:0 5px;
	color: #ccc;
	border: 0;
}
#banner form .kuang p span{
	float: left;
	width:38px;
	height:38px;
	background: #f3f3f3 url(../img/suo1.png) no-repeat center;
}
#banner form .kuang p:nth-child(1) span{
	background: #f3f3f3 url(../img/ren1.png) no-repeat center;
}
#banner form .kuang p .yan{
	height: 100%;
	border:0;
	width:150px;
	padding:0 5px;
}
#banner form .kuang p .bianhua{
	position: absolute;
	background: yellow;
	width:80px;
	height:40px;
	left:210px;
	top:-1px;
	font:25px/40px "" ;
	color: #0000ed;
	text-align: center;
	background: #d4d4d4;
}
#banner form .kuang p .btn{
	position: absolute;
	background: #fff;
	border: 0;
	width:42px;
	height:32px;
	left:298px;
	top:4px;
	font-size: 12px;
	color: #666;
	
}
#banner form .automatic{
	height: 16px;
	color: #666;
	width:100%;
	margin-top:8px;
}
#banner form .automatic p{

	float: left;
}
#banner form .automatic p input{
	position: relative;
	top:3px ;
	border: 1px solid #666;
}
#banner form .automatic span{
	float: right;
}
#banner form .sign{
	  margin-top: 18px;
}
#banner form .sign .sub{
	 border: 0;
	 text-align: center;
	 width:350px;
	 height:40px;
	 color:#fff;
	 background: #4496ee;
	 font:14px/40px "";
 
}
#banner form .other h5{
	font:12px/44px "";
	color: #999;

}
#banner form .other p a{
	color: #333;
}
#banner form .other p a i{
	display: inline-block;
	position: relative;
	top:4px;
	width:24px;
	height:18px ;
	background: url(../img/other.png) no-repeat;
	background-size: 96px 128px;
}
#banner form .other p a:nth-child(3) i{
	background-position:0 -18px ;
}
#banner form .other p a:nth-child(5) i{
	background-position:0 -36px ;
}
#banner form .other p span{
	margin:0 3px;
}
footer{
	height:156px;
	margin-top: 110px;
	text-align: center;
	color: #666;
	overflow: hidden;
	background:#fff url(../img/cert.png) no-repeat 900px 60px;
}
footer .foot{
	margin-top:15px ;
}
footer .foot a{
	font:12px/52px "";
}
footer  span{
	font:12px/36px "";
}