@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
}
#LoutiNav {
	width: 40px;
	position: fixed;
	top: 150px;
	left: 25px;
	border: 1px solid #ddd;
	display: none;
	
}
#LoutiNav ul li {
	width: 40px;
	height: 40px;
	border-bottom: 1px dotted #DDDDDD;
	font-size:12px;
	font-weight: 700;
	line-height: 40px;
	color: #666;
	text-align: center;
	position: relative;
	cursor: pointer;
	background: #fff;
}
#LoutiNav ul li:nth-child(1){
	background:#fff url(../img/sanjiao.png) no-repeat left top;
}
#LoutiNav ul li span {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
#LoutiNav ul li span {
	display: none;
	width:30px;
	height:32px;
	padding: 8px 5px 0 5px;
	font-size:12px;
	line-height: 12px;
}

#LoutiNav ul li.hover span {
	background: #c00;
	color: #fff;
	display: block;
	width:30px;
	height:32px;
	padding: 8px 5px 0 5px;
	font-size:12px;
	line-height: 12px;
}
#LoutiNav ul li.hover span.active {
	background: #c00;
	color: #fff;
	display: block;
}
#LoutiNav ul li span.active {
	background: #e5a871;
	color: #c00;
	display: block;
}
.margin{width:1200px;margin:0 auto;}
#top{background: #f3f3f3;height:30px;width:100%;border-bottom:1px solid #e1e1e2;}
#top .login{
	    float: left;
	    width:188px;
	    height:30px;
	    background: #fff;
	    font-size:12px;
	    line-height: 30px;
	    position: relative;
}
#top .login .xialakuang{position: absolute;width:42px;height:14px;background:#fff url(../img/1.png) no-repeat center;left:73px;border: 1px solid #e1e1e2;border-top: 0; }
#top .login .wel{color: #999;text-align: center;border-left:1px solid #e1e1e2;border-right:1px solid #e1e1e2;}
#top .login .wel a{color: #4496ee}
#top .login .tanchu{width:218px;height:108px;border: 1px solid #e5e5e5;position: absolute;display: none; }
#top .login .tanchu .user{width:218px;height: 74px;background: #fff;}
#top .login .tanchu .user .tou{float:left;width:48px;height: 48px;border-radius: 5px;background:url(../img/3.png) no-repeat center;margin:14px 0 0 10px;}
#top .login .tanchu .user .huan{float: left;font-size:12px;line-height: 48px;margin:14px 0 0 18px;color:#666;}
#top .login .tanchu .jifen{}
#top .login .tanchu .jifen .ji{float:left;width:108px;height:34px;background: #ffe5c6;font-size:12px;line-height: 34px;text-align: center;border-right: 2px solid #ffd4a0;}
#top .login .tanchu .jifen .shou{float:left;width:108px;height:34px;background: #ffe5c6;font-size:12px;line-height: 34px;text-align: center;}
#top .login:hover .tanchu{display:block;}
#top .sele{float:right;font:12px/30px "宋体";height:30px;}
#top .sele a{position: relative;display: inline-block;}
#top .sele a:hover{color:#4496ee;}
#top .sele a .car{position:relative;top:-2px;}
#top .sele a .personcenter{position:absolute;width:163px;height: 80px;border:1px solid #e5e5e5;border-top:0;top:28px;left:-92px;display: none;background: #fff;}
#top .sele a .personcenter ul{height:60px;width:134px;margin:10px 0 0 18px;}
#top .sele a .personcenter ul li{font:12px/30px "宋体";float: left;}
#top .sele a .personcenter ul li.te1{margin-right:14px ;}
#top .sele a .personcenter ul li.te2{margin-right: 25px;}
#top .sele a.person:hover .personcenter{display: block;}
#top .sele a.guan .follow{position:absolute;width:78px;height:117px;border:1px solid #e5e5e5;top:30px;left:-14px;padding:12px 10px;display: none;background: #fff;z-index: 2;}
#top .sele a.guan .follow p{padding: 0 8px;font:12px/18px "宋体";margin-top: 5px;}
#top .sele a.guan:hover .follow{display: block;}
#top .sele a.ser .service{position: absolute;width:163px;height: 110px;border:1px solid #e5e5e5;border-top: 0;top:30px;left:-94px;display: none;background:#fff;z-index: 2;}
#top .sele a.ser .service ul{height: 100px;padding-top: 10px;}
#top .sele a.ser .service ul li{float: left;margin:0 15px;}
#top .sele a.ser:hover .service{display:block;}

#top .sele span{margin:0 6px;}
header{height:178px;width:100%;border-bottom:2px solid #3184dd ;}
header .head-t{width:100%;height:138px;}
header .head-t .logo{
	          float:left;
	          margin-top: 30px;
}
header .head-t .searchb{
	          float: left;
	          margin:32px 0 0 68px;
}
header .head-t .searchb .searchb-t{
	width:594px;
	height: 36px;
	border:1px solid #4496ee;

}
header .head-t .searchb .searchb-t .txt{
	float: left;
	width:493px;
	height:36px;
	border:0;
}
header .head-t .searchb .searchb-t .btnn{
	float: left;
	width:101px;
	height:36px;
	border:0;
	background:#4496ee; 
	text-align: center;
	font:16px/36px '';
	color:#fff;
}
header .head-t .searchb .searchb-b a{
	font:12px/24px "宋体";
	margin-right: 16px;
}
header .head-t .order{
	 float: right;
	 margin-top: 32px;
}
header .head-t .order .query{
	float: left;
	width:70px;
	height:40px;
	background:#f2f6f9;

}
header .head-t .order .query a{
	width:100%;
	height:34px;
	padding-top: 6px;
	text-align: center;
	display: block;
}
header .head-t .order .query a i{
	display: block;
}
header .head-t .order .cart{
	float:left;
	width:128px;
	height: 40px;
	background: #4496ee;
	text-align: center;
	font:12px/40px "宋体";

}

header .head-t .order .cart a{
	display: block;
	color:#fff;
}
header .head-t .order .cart a u{
	color: #fff;
}
header .head-t .order .cart a img{
	position: relative;
	top:-2px;
}
header .nav{
     height: 40px;
     position: relative;
}
header .nav ul{
	height:40px;
	float: left;
	margin-left:190px;

}
header .nav ul li{
	 float: left;
	 background: url(../img/7.png) no-repeat right;
}
header .nav ul li.re{
	 background:url();
}
header .nav ul li a{
	display: block;
	font:16px/40px "宋体";
	padding:0 27px;
}
header .nav ul li a.te{
	color: #4496ee;
}
header .nav ul li a:hover{
	color: #4496ee;
}
header .nav .hotline{
	float: right;
	font:16px/40px "宋体";
	color: #666;
	width:216px;
	background:url(../img/phone.png) no-repeat left;
}
header .nav .hotline p{
	float:left;
	margin-left:25px;
	color: #666;
}
header .nav .hotline a{
	float:left;
	color:#4496ee;
}
header .nav .classify{
	top:0;
	left:0;
	position:absolute;
	width: 190px;
	height:474px;
	z-index: 1001;
}
header .nav .classify h3{
	font:16px/42px "宋体";
	text-align: center;
	color: #fff;
	background: #3184dd;
}
header .nav .classify dl{
	
	width:188px;
	height:430px;
	background: #4496ee;
	border-left:1px solid #4496ee;
	border-right:1px solid #4496ee;
}
header .nav .classify dl dd{
	padding-left: 20px;
	font:14px/47px "宋体";
	text-indent: 38px;
	color:#fff;
	position: relative;
}
header .nav .classify dl dd:nth-child(1){
	background: url(../img/good1.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(1) .home{
	position: absolute;
	width:1009px;
	height:430px;
	border-right:1px solid #e8e8e7;
	border-bottom: 1px solid #e8e8e7;
	top:0;
	background: #fff;
	left:188px;
	display: none;
	text-indent: 0;
    z-index: 1000;
}
header .nav .classify dl dd:nth-child(1) .home .home-l{
	float: left;
	width:759px;
	height: 100%;
	border-right:1px solid #e8e8e7;
}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-t{
	margin-left: 30px;
	width:658px;
	border-bottom:1px solid #e5e5e5 ;
	padding-bottom: 15px;

}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-c{
    margin-left: 30px;
    width:658px;
	border-bottom:1px solid #e5e5e5 ;
	padding-bottom: 15px;
}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-b{
    margin-left: 30px;
    width:658px;
	padding-bottom: 10px;
}
header .nav .classify dl dd:nth-child(1) .home .home-l  h4{
	color:#666;
	font:14px/60px "宋体";
}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-t .yao{
	width:658px;
    font:12px/26px "宋体";
}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-c .recom{
	width:658px;
    font:12px/26px "宋体";
}
header .nav .classify dl dd:nth-child(1) .home .home-l .home-l-b .news{
	width:658px;
    font:12px/26px "宋体";
}
header .nav .classify dl dd:nth-child(1) .home .home-l  i{
	
	color:#888 ;
}
header .nav .classify dl dd:nth-child(1) .home .home-l span{
	 color:#ddd;
	 margin:0 11px;

}
header .nav .classify dl dd:nth-child(1) .home .home-r{
	float: right;
	width: 249px;
	height:100%;
}
header .nav .classify dl dd:nth-child(1) .home .home-r .home-r-t{
	width:100%;
	height: 215px;
	border-bottom: 1px solid #e8e8e7;
	background: url(../img/jian.jpg) no-repeat center;

}

header .nav .classify dl dd:nth-child(1) .home .home-r .home-r-b{
	width:100%;
	height: 214px;
	background: url(../img/999.jpg) no-repeat center;
}
header .nav .classify dl dd:nth-child(1):hover {
	    background: #fff url(../img/good1.png) no-repeat 20px;
	    color: #4496ee;
}
header .nav .classify dl dd:nth-child(1):hover .home{
	     display: block;
}
header .nav .classify dl dd:nth-child(2){
	background: url(../img/good2.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug{
	position: absolute;
	width:1009px;
	height:430px;
	border-right:1px solid #e8e8e7;
	border-bottom: 1px solid #e8e8e7;
	top:-47px;
	background: #fff;
	left:188px;
	display: none;
	text-indent: 0;
	z-index: 1000;

}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l{
	float: left;
	width:759px;
	height:100%;
	border-right:1px solid #e8e8e7; 

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l{
	  width:220px;
	  margin-left:15px;
	  float: left;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-a {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-a h4{
    font:700 12px/25px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-a .xn{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-a .xn span{
	margin:0 6px;
}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-b {
	margin-top:2px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-b h4{
    font:700 12px/25px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-b .nf{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-b .nf span{
	margin:0 6px;
}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-c {
	margin-top:2px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-c h4{
    font:700 12px/25px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-c .gd{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-c .gd span{
	margin:0 6px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-d {
	margin-top:2px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-d h4{
    font:700 12px/25px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-d .gk{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-d .gk span{
	margin:0 6px;
}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-e {
  margin-top: 2px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-e h4{
    font:700 12px/25px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-e .hx{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-l .cw-l-l-e .hx span{
	margin:0 6px;
}


header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c{
	width:240px;
	float: left;
	margin-left:25px;

}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-a {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-a h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-a .pf{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-a .pf span{
	margin:0 6px;
}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-b {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-b h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-b .wc{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-b .wc span{
	margin:0 6px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-c {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-c h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-c .mn{
	width:220px;
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-c .mn span{
	margin:0 6px;
}

header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-d {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-d h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-d .kgr{
	width:195px;
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-c .cw-l-c-d .kgr span{
	margin:0 6px;
}




header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r{
	float: left;
	width:194px;
	margin-left: 34px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-a {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-a h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-a .js{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-a .js span{
	margin:0 4px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-b {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-b h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-b .wg{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-b .wg span{
	margin:0 8px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-c {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-c h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-c .yk{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-c .yk span{
	margin:0 4px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-d {
	  margin-top:12px;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-d h4{
    font:700 12px/29px "宋体";
    color: #666;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-d .kg{
	font:12px/22px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-l .cw-l-r .cw-l-r-d .kg span{
	margin:0 6px;
}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-r{
	 	float: right;
		width: 249px;
		height:100%;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-r .cw-r-t{
	 width:100%;
	height: 215px;
	border-bottom: 1px solid #e8e8e7;
	background: url(../img/prs.jpg) no-repeat center;

}
header .nav .classify dl dd:nth-child(2) .cwdrug .cw-r .cw-r-b{
	width:100%;
	height: 214px;
	background: url(../img/zgs.jpg) no-repeat center;

}
header .nav .classify dl dd:nth-child(2):hover {
	    background: #fff url(../img/good2.png) no-repeat 20px;
	    color: #4496ee;
}
header .nav .classify dl dd:nth-child(2):hover .cwdrug{
	     display: block;
}

header .nav .classify dl dd:nth-child(3){
     background: url(../img/good31.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(3) .man{
	position: absolute;
	width:1009px;
	height:430px;
	border-right:1px solid #e8e8e7;
	border-bottom: 1px solid #e8e8e7;
	top:-94px;
	background: #fff;
	left:188px;
	display: none;
	text-indent: 0;
	z-index: 1000;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l{
	    float: left;
		width:759px;
		height:100%;
		border-right:1px solid #e8e8e7; 
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t{
        width:729px;
        height:165px;
        border-bottom:1px solid #e8e8e7;
        margin-left:30px;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t h4{
	font:700 16px/28px "宋体";
	color:#666;
	margin-top:15px;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz{
	width:100%;
	height:100%;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-l{
	float: left;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-l h5{
	font:700 12px/34px "宋体";
	color:#7a7a7a;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-l .nkj{
    width:310px;
	font:12px/22px "宋体";
	color:#666;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-l .nkj span{
	margin:0 9px;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-r{
	float: left;
	margin-left: 54px;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-r h5{
	font:700 12px/34px "宋体";
	color:#7a7a7a;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-r .yds{
    width:294px;
	font:12px/22px "宋体";
	color:#666;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-t .ypz .ypz-r .yds span{
	margin:0 8px;
}


header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-c{
	    width:729px;
        height:120px;
        border-bottom:1px solid #e8e8e7;
        margin-left:30px;

}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-c h4{
	  	font:700 16px/52px "宋体";
		color:#666;
		margin-top:4px;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-c .bjzq{
	width:582px;
	font:12px/26px "宋体";
	color:#666;

}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-c span{
	margin:0 5px;
}





header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-b{
	    width:729px;
	    margin-left:30px;

}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-b h4{

	font:700 16px/60px "宋体";
	color:#666;
}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-b .crz{
	font:12px/14px "宋体";
	color: #666;

}
header .nav .classify dl dd:nth-child(3) .man  .man-l .man-l-b span{
	margin:0 10px;
}





header .nav .classify dl dd:nth-child(3) .man  .man-r{
		float: right;
		width: 249px;
		height:100%;

}
header .nav .classify dl dd:nth-child(3) .man  .man-r .man-r-t{
	 width:100%;
	height: 215px;
	border-bottom: 1px solid #e8e8e7;
	background: url(../img/bys.jpg) no-repeat center;

}
header .nav .classify dl dd:nth-child(3) .man  .man-r .man-r-b{
	width:100%;
	height: 214px;
	background: url(../img/trt.jpg) no-repeat center;
	
}
header .nav .classify dl dd:nth-child(3):hover {
	    background: #fff url(../img/good3.png) no-repeat 20px;
	    color: #4496ee;
}
header .nav .classify dl dd:nth-child(3):hover .man{
	     display: block;
}














header .nav .classify dl dd:nth-child(4){
      background: url(../img/good4.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(5){
     background: url(../img/good5.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(6){
     background: url(../img/good6.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(7){
     background: url(../img/good7.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(8){
     background: url(../img/good8.png) no-repeat 20px;
}
header .nav .classify dl dd:nth-child(9){
     background: url(../img/good9.png) no-repeat 20px;
}
#banner{
	height:430px;
	width:100%;
	position: relative;
}
#banner #igs {
  margin-left:265px;
  width: 760px;
  height: 430px;
  position: relative;
}

#banner #igs  .ig {
  position: absolute;
}
 
#banner #igs #tabs {
  position: absolute;
  list-style: none;
  background-color: rgba(0,0,0,.5);
  left: 307px;
  bottom: 30px;
  border-radius: 10px;
  padding: 3px 15px 3px 20px;
}
 
#banner #igs #tabs .tab{
  float: left;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 4px;
  border-radius: 100%;
  background-color: rgba(255,255,255,.3);
}
#banner #igs #tabs .bg{ background-color:rgba(255,255,0,.5);} 
#banner #igs .btn{
	cursor: pointer;
  position: absolute;
  color: #fff;
  top: 190px;
  width: 24px;
  height: 50px;
  background-color: rgba(255,255,255,.3);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  display: none;
  
}
 
#banner #igs .btn2{
  position: absolute;
  right: 0px;
}
.t1{
	background: #f39553;
}

.t2{
	background: #bbd8ee;
}

.t3{
	background: #92b2d5;
}

.t4{
	background: #92b2d5;
}

.t5{
	background: #8ccd00;
}
.t6{
	background: #ecd61d;
}
.t7{
	background: #92b2d5;
}
#inquiry{
	position: absolute;
	width:248px;
	height:430px;
	background: #fff;
	z-index: 5;
	top:0;
	right:76px;

}
#inquiry .inquiry-t{
	height: 320px;
	width: 100%;
	background: url(../img/inquiry_img.png) no-repeat bottom;
}
#inquiry .inquiry-t .inquiry{
	width: 230px;
	height:34px;
	font:700 16px/34px "宋体";
	text-indent: 60px;
	margin:9px auto;
	color: #ff5f5c;
	background:url(../img/weixin.png) no-repeat 19px;

}
#inquiry .inform{
	height: 110px;
	width:238px;
	padding-left: 10px;
}
#inquiry .inform .inform-t {
	height:34px;
	border-bottom: 1px solid #e5e5e5;
}
#inquiry .inform .inform-t h5{
	float: left;
	font:12px/32px "宋体";
	margin-right: 14px;
	cursor: pointer;
}
#inquiry .inform .inform-t .te{
	border-bottom: 2px solid #4998eb;
}
#inquiry .inform .inform-b{
    display: block;
}
#inquiry .inform .inform-b p{
	font:12px/24px "宋体";
	color: #666;
	cursor: pointer;
}
#inquiry .inform .inform-b p:hover{
	color: #4496ee;
}
#inquiry .inform .inform-d{
	display: none;
	height:100%;
}
#inquiry .inform .inform-d p{
	float: left;
	width:56px;
	height:64px;
	margin:10px 10px 0 10px;
	font-size: 12px;
	color: #4c4c4c;
	cursor:pointer;
}
#inquiry .inform .inform-d p i{
	display: block;
	width:40px;
	height:40px;
	background: url(../img/ser.png) no-repeat;
	background-size: 136px 90px;
}
#inquiry .inform .inform-d .p1 i{
	background-position:-41px 0 ;

}
#inquiry .inform .inform-d .p2 i{
	background-position:-41px  -41px ;

}
#inquiry .inform .inform-d .p3 i{
	background-position:-82px  -41px ;

}
main{
	background: #f5f5f5;
	overflow: hidden;
}
main .rush{
	margin-top: 10px;
	height:330px;
	width:100%;

}
main .rush .rush-t{
	width:100%;
	height:240px;
}
main .rush .rush-t .rush-t-l{
	background: url(../img/dailyBg.jpg) no-repeat center;
	width:190px;
	height:100%;
	overflow: hidden;  
	text-align: center;  
	float: left;
}
main .rush .rush-t .rush-t-l h2{
	font:22px/34px "宋体";
	color:#4496ee;
	width:96px;
	margin:40px auto 0;
	
}
main .rush .rush-t .rush-t-l span{
	font:14px/54px "宋体";
	color:#4496ee;

}
main .rush .rush-t .rush-t-l .date{
	width:156px;
	display: flex;
	justify-content: space-between;
	font:700 24px/50px "宋体";
	margin:0 auto;
}
main .rush .rush-t .rush-t-l .date .datee{
	width:40px;
	height:50px;
	background: #fff;
	color: #666;

}
main .rush .rush-t .rush-t-r{
	width:1010px;
	height:240px;
	float: left;
}
main .rush .rush-t .rush-t-r ul{
	width:100%;
	height:100%;
}
main .rush .rush-t .rush-t-r ul li{
	float: left;
	width:335px;
	height:119px;
	background: #fff;
	border-left:1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
main .rush .rush-t .rush-t-r ul li .li-l{
	width:204px;
	height:100%;
	float: left;
}
main .rush .rush-t .rush-t-r ul li .li-l h4{
	  font-size: 16px;
	  width:176px;
	  margin:18px auto 0;
	  overflow: hidden;
	  height:16px;
	  color: #666;
}
main .rush .rush-t .rush-t-r ul li .li-l h5{
	font-size: 12px;
	color: #fb5e5f;
	width:178px;
	height:12px;
	margin:9px auto 0;
}
main .rush .rush-t .rush-t-r ul li .li-l p{
	margin-top: 25px;
}
main .rush .rush-t .rush-t-r ul li .li-l p span{
	width:80px;
	height: 24px;
	display: inline-block;
	background: #fb5e5f;
	font:12px/24px "宋体";
	color: #fff;
	text-align: center;
	border-radius: 24px;
	margin-left:20px;
}
main .rush .rush-t .rush-t-r ul li  a{
	float: left;
	width: 130px;
	height:100%;
}
main .rush .rush-t .rush-t-r ul li  a img{
	width: 130px;
	height:100%;
}
main .rush .rush-b{
	height:90px;
	width:100%;
}
#common{
	font:16px/40px "宋体";
	color: #666;
	background: url(../img/medical.png) no-repeat left;
	text-indent: 28px;
}
.common{
	height:156px;
	width:100%;
	display: flex;
	justify-content: space-around;
	background: #fff;
	padding-top: 10px;
}
.common .common-l{
	height:146px;
	width:296px;
	float: left;
}
.common .common-c{
     float:left;

    
}
.common .common-c a{
	  display: block;
	  height:72px;
	  width:275px;
	  margin-bottom: 2px;
}
.common .common-d{
	float:left;

}
.common .common-d a{
	  display: block;
	  height:72px;
	  width:275px;
	  margin-bottom: 2px;
}
.common .common-r{
	float:left;
	height:146px;
	width:296px;

}
.haze{
	height:90px;
}
.health{
	height: 268px;
	width:100%;
	margin-top:10px;
}
.health .health-l{
	width:247px;
	height:100%;
	border-right:1px solid #e5e5e5;
	float: left;
	padding-left:10px;
	background: #fff;
}
.health .health-l h3{
	font:700 16px/44px "宋体";
	color: #4c4c4c;
}
.health .health-l span{
	font-size: 14px;
	color: #fb5e5f;
}
.health .health-l a{
	display: block;
	margin-top: 12px;
}
.health .health-l a img{
	width:200px;
    height:168px;
}





.health .health-c{
	float: left;
	width:300px;
	height: 100%;	
	background: #fff;
	padding-left: 13px;
}
.health .health-c .health-c-t{
	height:110px;

	border-right:1px solid #e5e5e5;
	margin-top: 20px;
}
.health .health-c .health-c-t .health-c-t-l{
	float: left;
}
.health .health-c .health-c-t .health-c-t-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-c .health-c-t .health-c-t-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-c .health-c-t a{
	float: left;
}
.health .health-c .health-c-t a img{
	width:100px;
	height:100%;
}
.health .health-c .health-c-b{
	height:110px;
	
	border-right:1px solid #e5e5e5;
	margin-top: 20px;
}
.health .health-c .health-c-b .health-c-b-l{
	float: left;
}
.health .health-c .health-c-b .health-c-b-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-c .health-c-b .health-c-b-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-c .health-c-b a{
	float: left;
}
.health .health-c .health-c-b a img{
	width:100px;
	height:100%;
}



.health .health-d{
	float: left;
	width:300px;
	height: 100%;
	background: #fff;
	padding-left: 13px;
}
.health .health-d .health-d-t{
	height:110px;

	border-right:1px solid #e5e5e5;
	margin-top: 20px;
}
.health .health-d .health-d-t .health-d-t-l{
	float: left;
}
.health .health-d .health-d-t .health-d-t-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-d .health-d-t .health-d-t-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-d .health-d-t a{
	float: left;
}
.health .health-d .health-d-t a img{
	width:100px;
	height:100%;
}

.health .health-d .health-d-b{
	height:110px;
	border-right:1px solid #e5e5e5;
	margin-top: 20px;
}
.health .health-d .health-d-b .health-d-b-l{
	float: left;
}
.health .health-d .health-d-b .health-d-b-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-d .health-d-b .health-d-b-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-d .health-d-b a{
	float: left;
}
.health .health-d .health-d-b a img{
	width:100px;
	height:100%;
}



.health .health-r{
	float: left;
	width:301px;
	height: 100%;
	background: #fff;
	padding-left: 13px;
}

.health .health-r .health-r-t{
	height:110px;
	width:100%;
	margin-top: 20px;
}
.health .health-r .health-r-t .health-r-t-l{
	float: left;
}
.health .health-r .health-r-t .health-r-t-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-r .health-r-t .health-r-t-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-r .health-r-t a{
	float: left;
}
.health .health-r .health-r-t a img{
	width:100px;
	height:100%;
}

.health .health-r .health-r-b{
	height:110px;
	width:100%;
	margin-top: 20px;
}
.health .health-r .health-r-b .health-r-b-l{
	float: left;
}
.health .health-r .health-r-b .health-r-b-l h3{
     font-size: 18px;
     color: #666;
}
.health .health-r .health-r-b .health-r-b-l span{
	font:12px/40px "宋体";
	color: #fb5e5f;

}
.health .health-r .health-r-b a{
	float: left;
}
.health .health-r .health-r-b a img{
	width:100px;
	height:100%;
}

 .caw{
	height:580px;
	width:1200px;
	margin-top: 20px;
	background: #fff;
}
 .caw .title{
	width:1200px;
	height:36px;
	border-bottom: 2px solid #e5a871;
	background: #f5f5f5;
}
 .caw .title h2{
 	 float: left;
	 width:110px;
	 height:36px;
	 font:700 16px/36px "宋体";
	 color: #fff;
	 background: #e5a871 url(../img/diao.png) no-repeat 8px;
	 text-indent:34px ;
}
 .caw .title .title-r{
 	   width:708px;
 	   height: 36px;
 	   float: right;
 }
 .caw .title .title-r a{
 	float: left;
 	padding: 0 26px;
 	font:12px/34px "宋体";
 	height:34px;
 	background:url(../img/gang.png) no-repeat right;
 	position: relative;
 }
 .caw .title .title-r .te{
 	background: #fff;
 	border:2px solid #e5a871;
 	border-top: 2px solid #e5a871;
 	border-bottom: 2px solid #fff;
 	color:#e5a871;

 }
 .caw .title .title-r  a:nth-child(1) .zxyp{
 	 width:840px;
 	 height:540px ;
 	
 	 position: absolute;
 	 left:-134px;
 	 top:38px;
 	 display: block;

 }
 .caw .title .title-r  a:nth-child(2) .fkyy{
 	 width:840px;
 	 height:540px ;
 	 
 	 position: absolute;
 	 left:-234px;
 	 top:38px;
 	 display: none;
 }
  .caw .title .title-r  a:nth-child(3) .gmyy{
 	 width:840px;
 	 height:540px ;
 
 	 position: absolute;
 	 left:-334px;
 	 top:38px;
 	 display: none;
 }
  .caw .title .title-r  a:nth-child(4) .guke{
 	 width:840px;
 	 height:540px ;
 	
 	 position: absolute;
 	 left:-434px;
 	 top:38px;
 	 display: none;
 	 
 }
  .caw .title .title-r  a:nth-child(5) .pifu{
 	 width:840px;
 	 height:540px ;
 	
 	 position: absolute;
 	 left:-534px;
 	 top:38px;
 	 display: none;
 	
 }
  .caw .title .title-r  a:nth-child(6) .changwei{
 	 width:840px;
 	 height:540px ;
 	
 	 position: absolute;
 	 left:-634px;
 	 top:38px;
 	 display: none;
 }
  .caw .title .title-r  a:nth-child(7) .wuguan{
 	 width:840px;
 	 height:540px ;
 	
 	 position: absolute;
 	 left:-734px;
 	 top:38px;
 	 display: none;
 }
 .caw .title .title-r  a  ul{
  	 width:100%;
  	 height: 100%;
  }
 .caw .title .title-r  a  ul li{
   	  float: left;
   	  width:210px;
   	  height:270px;
   	  text-align: center;
   	  background: #fff;
   }
 .caw .title .title-r  a ul li img{
    	width:178px;
    	height:140px;
    	margin-top: 10px;
    }
 .caw .title .title-r  a ul li p{
     	  margin-top:15px;
     }
 .caw .title .title-r  a ul li span{
 	   margin-right: 10px;
 	   color:#fb5e5f;
 }
 .caw .caw-b{
 	width:1200px;
 	height:540px ;
 	background: #fff;
 }
  .caw .caw-b #lun{
  	  width:360px;
  	  height:220px;
  	 
  	  
  }
 .caw .caw-b #lun .lunz{
 	  width:360px;
  	  height:220px;
  	 
  	  position: relative;
 }
.caw .caw-b #lun .lunz .lz{
	 position: absolute;
}
.caw .caw-b #lun .lunz #ta{
	position: absolute;
	left:3px;
	bottom: 7px;
	width:98px;
	height: 6px;
	display: flex;
	justify-content: space-between;
}
.caw .caw-b #lun .lunz #ta .tb{
	width:30px;
	height:100%;
	background: #fff;
}
.caw .caw-b #lun .lunz #ta .bg1{
	background: #e5a871;
}

  .caw .caw-b .caw-b-b{
  	 width:360px;
  	 height:310px;
  	 background: #fff;
  	 padding-top: 10px;
  	 overflow: hidden;
  }
  .caw .caw-b .caw-b-b .caw-b-b-l{
  	     float:left;
  	     width:179px;
  	     height:320px;
  	     border-right:1px solid #e5e5e5;
  }
   .caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-t{
   	       height:110px;
   }
   .caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-t a{
   	       float: left;
   	       font:12px/30px "宋体";
   	       margin-right: 20px;
   	       margin-left: 18px;
   }
     .caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-t .te{
     	  margin-right: 32px;

     }
.caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-b{
	     height:210px;
	     width:179px;
}
.caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-b a{
	    float: left;
	    margin:5px 0 15px 0;

}
.caw .caw-b .caw-b-b .caw-b-b-l .caw-b-b-l-b a img{
	     width:89px;
	     height: 40px;

}
  .caw .caw-b .caw-b-b .caw-b-b-r{
  	     float: left;
  	     width:179px;
  	     height: 320px;
  	     border-right:1px solid #e5e5e5;


  }
   .caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-r-t{
   	       height:110px;
   }
   .caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-r-t a{
   	       float: left;
   	       font:12px/30px "宋体";
   	       margin-right: 20px;
   	       margin-left: 18px;
   }
     .caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-r-t .te{
     	  margin-right: 32px;

     }
.caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-l-b{
	     height:210px;
	     width:179px;
}
.caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-l-b a{
	    float: left;
	    margin:5px 0 15px 0;

}
.caw .caw-b .caw-b-b .caw-b-b-r .caw-b-b-l-b a img{
	     width:89px;
	     height: 40px;

}
.friend{
    margin-top:18px;
}
.friend h3{
	   width: 1200px;
	   font:700 16px/36px "宋体";
	   color: #4c4c4c;
	   text-indent:28px ;
	   border-bottom: 2px solid #63c070;
	   background: url(../img/link.png) no-repeat 5px;
}
.friend .link{
	    width:1170px;
	    height:90px;
	    background: #fff;
	    padding: 10px 15px 0 15px;
}
.friend .link a{
	float: left;
	font:12px/34px "宋体";
	margin:0 23px;
}
.people {
	width:1200px;
	height:402px ;
	background: #fff;
	margin-top: 30px;
}
.people .people-t{
	  height:130px;
	  width:100%;
}
.people .people-t ul{
	 width: 100%;
	 height:100%;
	 display: flex;
	 justify-content: space-around;
}
.people .people-t ul li{
     width:220px;
     margin-top:30px;
}
.people .people-t ul li a{
	 float: left;
	 width:70px;
	 height: 70px;
	 border-radius: 50%;
	 background: #f5f5f5;
}
.people .people-t ul li a i{
	  display: block;
	 width:40px;
	 height:40px;
	 background: url(../img/ser.png) no-repeat;
	 background-size:136px 90px;
	 
	 margin:15px auto;
}
.people .people-t ul li a i.i1{
	 background-position: 0 -41px;
}
.people .people-t ul li a i.i2{
	 background-position:-41px -41px;
}
.people .people-t ul li a i.i3{
	 background-position: -82px -41px;
}
.people .people-t ul li a i.i4{
	 background-position: -82px 0;
}
.people .people-t ul li .zheng{
	  height: 70px;
	  float: left;
	  margin-left:25px;
}
.people .people-t ul li .zheng p{
	margin-top: 7px;
	  font:700 16px/28px "宋体";
	  color: #4c5054;
}
.people .people-t ul li .zheng span{
	font:14px/28px "宋体";
	color:#666;
}
.people .people-b{
	height:272px;
	width:100%;
}
.people .people-b .people-b-l{
	float: left;
	width:780px;
	padding:0 80px 0 40px;
	height:100%;
}
.people .people-b .people-b-l ul{
	width:780px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.people .people-b .people-b-l ul li{
	 margin-top: 17px;
}
.people .people-b .people-b-l ul li p{
	font:14px/36px "宋体";
	color: #666;
	cursor: pointer;
}
.people .people-b .people-b-l ul li p:hover{
	color: #2295fe;

}
.people .people-b .people-b-l ul li h3{
	font:700 16px/40px "宋体";
	color: #4c4c4c;
}
.people .people-b .gongzhong{
	 float: left;
	 margin:17px 0 0 78px;
}
.people .people-b .gongzhong h3{
	font:700 16px/40px "宋体";
	color: #4c4c4c;
	width:130px;
	text-align: center;
}
.people .people-b .gongzhong img{
	width:130px;
	height:130px;
}
footer{
	height:156px;
	
	text-align: center;
	color: #666;
	overflow: hidden;
	background:#f5f5f5 url(../img/cert.png) no-repeat 900px 60px;
}
footer .foot{
	margin-top:15px ;
}
footer .foot a{
	font:12px/52px "宋体";
}
footer  span{
	font:12px/36px "宋体";
}
#hanging{
	position: fixed;
	width:50px;
	height:250px;
	background: #4496ee;
	top:304px;
	right:14px;
	z-index: 1000;
}
#hanging a{
	display: block;
	height:38px;
	width:27px;
	padding-top: 12px;
	margin:0 auto;
	color: #fff;
	position: relative;
	cursor: pointer;
	
}
#hanging a .xin{
	position: absolute;
	width:129px;
	height:99px;
	background: url(../img/duihua.png) no-repeat center;
	left:-132px;
	top:0;
	display: none;
	

}
#hanging a .xiaowei{
	position: absolute;
	width:129px;
	height:311px;
	background:url(../img/hao.png) no-repeat center;
	left:-132px;
	top:-100px;
	display: none;
	
	
}